.equipmentHeader {
	color:white;
	text-align: center;
	margin:20px;
}

.addEquipment {
	text-align: center;
	margin:auto;
	background-color:white;
	width:300px;
	border-radius: 5px;
}

.equipmentAddButton {
	width: 150px;
	color:black;
	margin-top:5px;
}

