* {
	margin:0;
	box-sizing: border-box;	
	padding:0;
}

.landingPage {
	margin-top:13px;
 	text-align: center;
 	width:350px;
 	background-color:white;
 	opacity: .9;
}

.header {
	padding:15px;
	text-align:center;
}

.regLink {
	margin: 15px;
}