* {
	margin:0;
	box-sizing: border-box;	
	padding:0;
}

.landingPage {
 	width: 100%;
}

.header {
	padding:30px;
	text-align:center;
}

.regLink {
	text-decoration: none;
	color:black;
	text-align: center;
	display:block;
	padding:15px;
}