.addWorkout {
	margin:auto;
	padding-top:30px;
	text-align: center;
	background-color:white;
	width:300px;
}

.saveWorkout {
	width:150px;
	margin-top:15px;
}

.linkContainer {
	width:220px;
	padding-top:20px;
}

.savedWorkoutLink {
	margin-bottom: 15px;
}

.exercise {
	border:1px solid black;
	display:inline-block;	
	margin:27px;
	padding:3px;
	border-radius:5px;
}

.exercisesToBeAdded {
	text-align: center;
	background-color:white;
	width:300px;
}