.addWorkout {
	margin:auto;
	padding-top:30px;
	text-align: center;
	width:200px;
}

.saveWorkout {
	width:150px;
	margin-top:15px;
}

.linkContainer {
	width:220px;
	margin:auto;
	padding-top:20px;
}

.savedWorkoutLink {
	color:black;
	text-align: center;
}

.exercise {
	border:1px solid black;
	display:inline-block;	
	margin:27px;
	padding:3px;
	border-radius:5px;
}

.exercise li {
	list-style-type: none;
}