.muscleSearch {
	text-align: center;
	background-color:white;
	width:430px;
	padding:10px;
	border-radius:5px;
	opacity:1;
	margin-top:100px;
}

.info {
	margin-bottom:15px;
	font-family: 'Titillium Web', sans-serif
}

.muscleGroups {
	margin:auto;
	text-align: center;
}