* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.nav {
	height: 60px;
	width:100%;
	display: inline-block;
	margin:auto;
	background-color: rgb(0, 188, 212);
	padding:12px 25px;
}

.menu {
	margin-left:20px;
}

.logoutButton {
	float:right;
	/*margin-right:20px;*/
}